/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.timer {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
}

input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
}

button[data-start] {
  padding: 8px 16px;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button[data-start]:disabled {
  background-color: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 320px;
  margin-top: 32px;
}

.form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 500;
}

.form input[type="number"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
}

.form fieldset {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
}

.form fieldset label {
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-weight: 400;
}

.form button[type="submit"] {
  padding: 8px 16px;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}